{% extends 'base.html' %}
{% block app_content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
  <form action="" class="form-signin" method="post">
    {{ form.hidden_tag() }}
    <div class="text-center mb-4">
      <h1>Dungeons Unlimited</h1>
    </div>
    <div class="text-center mb-4">

      <p>
          {{ form.username.label }}<br>
          {{ form.username(size=32) }}<br>
          {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
          {{ form.password.label }}<br>
          {{ form.password(size=32) }}<br>
          {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p> {{ form.remember_me() }} {{ form.remember_me.label}}</p>
      <p> {{ form.submit() }}</p>

    </div>
    <p>New User? <a href="{{ url_for('auth.register') }}">Click to Register!</a></p>
    <p>Forgot Your Password?<a href="{{ url_for('auth.password_reset_request') }}">Click to Reset!</a></p>
  </form>
{% endblock %}
