{% extends 'bootstrap/base.html' %}

{% block title %}
  {% if title %}
    {{ title }} - Dungeons Unlimited
  {% else %}
    Welcome to Dungeons Unlimited
  {% endif %}
{% endblock %}

{% block navbar %}

  {% if current_user.is_authenticated %}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Dungeons Unlimited</h5>
      <a class="nav-link" href="#">Characters</a>
      <a class="nav-link" href="#">Campaigns</a>
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Settings
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Edit Profile</a>
        <a class="dropdown-item" href="#">Reset Password</a>
      </div>
      <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
    </div>
  {% endif%}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% block app_content %}{% endblock %}
    {% if current_user.is_authenticated %}
      {% block footer %}
        {% include '_footer_template.html'%}
      {% endblock %}
    {% endif%}
  </div>
{% endblock%}

{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}
{% endblock %}
