{% extends 'base.html'%}

{% block app_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<div class="container">
  <div class="container row mx-auto d-block">
    <h2 class="text-center">Welcome Back, {{ user.username }}!</h2>
    <!-- <img src="{{ user.profile_image(256) }}" class="rounded-circle mx-auto d-block" alt="User Profile Image"> -->
    {% if user.profile_picture is none or user.profile_picture|length == 0 %}
      <img src="{{ user.profile_image(256) }}" class="rounded-circle mx-auto d-block" alt="User Profile Image">
    {% else %}
      <img src="data:image/jpg;base64,{{ user.profile_image(0) }}" class="rounded-circle mx-auto d-block" alt="User Profile Image">
    {% endif %}
    <hr>
      <!-- <div class="col-12 col-md-8">
        <h3>Hello, {{ user.username }}!</h3>
        <br>
        <p>First Name: {{ user.first_name}}</p>
        <p>Last Name: {{user.last_name }}</p>
        <p>Email: {{ user.email}}</p>
        <br>
        <p><small class="text-muted">Last Signed In: {{ moment(user.last_login).format('LLL') }}</small></p>
      </div> -->
  </div>
  <br>
  <h2>Characters</h2>
  {% include '_characters.html' %}
  <hr>
  <br>
  <h2>Campaigns</h2>
  {% include '_campaigns.html'%}

</div>
{% endblock%}
